
## 1. Setup and Loading Data

Start with the basics of importing pandas and loading the CSV.

- **`import pandas as pd`**  
  - Common alias for pandas.
- **`df = pd.read_csv('your_file.csv')`**  
  - Load the dataset into a DataFrame (`df`).

  - Show the first 5 rows.

  - Display column names, data types, and non-null counts.

  - Get the number of rows and columns (e.g., `(1000, 11)`).


## 2. Basic Exploration 

Explore the datasetâ€™s structure and contents.


  - Summary stats (mean, min, max) for numeric columns like `salary`, `salary_in_usd`, `remote_ratio`.

  - List all column names.

  - Show data types (e.g., int64, object).

  - Count unique values in a categorical column (e.g., Data Scientists vs. Engineers).

  - Check for missing values per column.


## 3. Filtering and Selection 

Demonstrate slicing and filtering techniques.


  - Select a single column (returns a Series).

  - Select multiple columns (returns a DataFrame).

  - Filter rows where salary exceeds $100K USD.

  - Select first 5 rows and first 3 columns by index.

  - Filter rows where `experience_level` is 'Senior'.


## 4. Data Manipulation

Show how to modify or clean data.


  - Average salary in USD.

  - Highest salary.

  - Sort by salary (descending).

  - Create a new column (salary in thousands).

  - Drop a column (add `inplace=True` to modify `df`).

## 5. Grouping and Aggregation

Summarize data by categories.


  - Average salary by job title.

  - Multiple aggregations (mean salary, max remote ratio by company size).

  - Count entries per experience level.