In [1]:
import pandas as pd, numpy as np

In [2]:
df = pd.read_csv("cleaning.csv")

In [7]:
df.head(10)

      name              email   age purchase
0    Alice  alice@company.com  25.0    100.5
1     Bob     bob@company.com   NaN       75
2  Charlie  charlie@gmail.com  30.0      abc
3    Alice  alice@company.com  25.0    100.5
4   David              david@  40.0      200
5      Eve    eve@company.com  -5.0    50.25
6    Frank  frank@company.com  35.0   100.75
7    Grace  grace@company.com  28.0      NaN
8    Helen  helen@company.com  60.0      300
9     John     john@gmail.com  32.0   150.25